<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582328262140-scql01l00v1l5eapbktgjpgdbim56ia2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582328262140-scql01l00v1l5eapbktgjpgdbim56ia2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>582328262140-sh30mrbpj57mj82sel34mpvk6k0oc9dd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBz-U1ojWaTf4tLzJjVY0mUOLjNRRoXoYI</string>
	<key>GCM_SENDER_ID</key>
	<string>582328262140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fourmas.schedulepal</string>
	<key>PROJECT_ID</key>
	<string>schedule-pal</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-pal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582328262140:ios:841d290a6fc432a66de679</string>
</dict>
</plist>